/* General Styles */
body {
  font-family: "Gelasio", serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('https://unsplash.com/photos/gF_umQbT5tM/download?force=true&w=1920');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Gör bakgrunden statisk vid scroll */
  background-repeat: no-repeat; /* Ingen upprepning */
  color: #fdfdfd; /* Vit text för kontrast */

}
header.hero {
  height: 100vh;
  color: #fdfdfd; /* Vit text för bättre kontrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Subtil textskugga */
}

header.hero h1 {
  font-size: 4rem;
  margin: 0.5rem 0;
  color: #fdfdfd; /* Behåll vit text */
}

header.hero p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #fdfdfd; /* Vit text för enhetlighet */
}

#countdown {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #d7c9e6; /* Ljust lila */
  color: #030905; /* Mörk grönsvart */
  border-radius: 5px;
  font-size: 1.2rem;
  text-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333; /* Mörk brun */
  font-weight: bold;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #88b38a; /* Mjukt grönt */
}


/* Sections */

section {
  padding: 3rem 1rem;
  margin: 3rem auto;
  max-width: 800px;
  background-color: #fdfdfd; /* Krämvitt */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  text-align: center;
  color: #333; /* Mörk brun */
  font-size: 2rem;
  margin-bottom: 1rem;
}

section p, section li {
  font-size: 1.1rem;
  color: #030905; /* Mörk grönsvart */
}


.cont-btn {
  padding: 1rem 2rem;
  background-color: #88b38a; /* Mjukt grönt */
  color: #fdfdfd; /* Krämvitt */
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
.cont-btn:hover {
  background-color: #030905; /* Mörk grönsvart */
}


/* Accordion */
.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.accordion-item {
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
}

.accordion-header {
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gelasio", serif; 
}

.accordion-header:hover {
  background-color: transparent;
  color: rgba(51, 51, 51, 0.7);
}

.accordion-icon {
  font-size: 20px;
  transition: transform 0.2s ease;
}

.accordion-body {
  overflow: hidden;
  background-color: transparent;
  padding: 0 20px;
  max-height: 0; /* Döljer innehållet från början */
  transition: max-height 0.2s ease, padding 0.2s ease; /* Animera både max-height och padding */
}

.accordion-body p {
  margin: 15px 0;
}

/* Open State */
.accordion-item.is-active .accordion-body {
  padding: 15px 20px; /* Lägg till padding när den är öppen */
}

.accordion-item.is-active .accordion-icon {
  transform: rotate(45deg); /* Gör "+" till "x" */
}


/* osa */
.osa {

}

  .sm {
    display: none;
  }


#backToTop {
  position: fixed !important; /* Gör att knappen följer med vid scroll */
  bottom: 10%; /* Placering nere höger */
  right: 5%;
  z-index: 9999;
  transform: translateY(-50%); /* justera position för att verkligen centrera */
  background-color: rgba(51, 51, 51, 0.6); /* En transparent brun färg */
  color: rgba(255, 255, 255, 0.6); /* Textfärg */
  border: none;
  border-radius: 50%; /* Gör knappen rund */
  width: 50px;
  height: 50px;
  font-size: 1.5rem; /* Gör pilen större */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtil skugga */
  display: none; /* Döljer knappen initialt */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease; /* Liten fade-effekt */
}

#backToTop:hover {
  background-color: rgba(51, 51, 51, 0.9); /* Ändrar färg vid hovring */
  color: rgba(255, 255, 255, 0.9); /* Textfärg */
}

#tal{
  background-color: transparent;
  padding: 1rem 1rem;
  margin: 3rem auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: none;
}

/* Footer */
footer {
  background-color: rgba(3, 9, 5, 0.5); /* Mörk transparent grönsvart */
  color: #fdfdfd; /* Krämvitt */
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


/* Responsive Design */

@media (max-width: 768px) {
  header.hero h1 {
    font-size: 2.5rem;
  }

  nav ul {
    flex-direction: row;
    padding: 0.7rem 0.5rem 0.7rem;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  nav ul li a {
    font-size: 0.7rem;
    padding: 0.8rem 0.5rem;
  }

  iframe, form {
    max-width: 100%;
    margin: 0 auto;
  }


  #backToTop {
    border: none;
    padding: 0.6rem 0.8rem;
    bottom: calc(5%+10px);
    right: calc(5%+10px);
    font-size: 0.8rem;
    width: 25px;
    height: 25px;
  }

  section {
    padding: 1.5rem 1rem;
    margin: 1.5rem 1.5rem;
    max-width: 90%;
  }

  section h2 {
    font-size: 1.4rem;
  }

  section p, section li {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  ul {
    padding-left: 1rem;
  }


  .lg {
    display: none;
  }

  .sm {
    display: block;
  }


.cont-btn:hover {
  background-color: #88b38a; /* Mörk grönsvart */
}


}
